{% extends "layout.html" %}
{% block content %}
<div class="container">
  <form method="POST" action="">
    {{ loginform.csrf_token }}
    {{ loginform.email.label(class="form-control") }}
    {{ loginform.email(class="form-control") }}
    {% if loginform.email.errors %}
        {% for error in loginform.email.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
    <br>
    {{ loginform.password.label(class="form-control") }}
    {{ loginform.password(class="form-control") }}
    {% if loginform.password.errors %}
        {% for error in loginform.password.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
    <br>
    {{ loginform.submit(class="form-control") }}
    <a href="{{ url_for('users.reset_request') }}">Forgot password</a>
  </form>
</div>
{% endblock content %}
