{% extends "layout.html" %}
{% block content %}
<div class="container">
  {% if no_notif %}
    <h3>No notifications</h3>
  {% else %}
    {% for notification in notif_list %}
      <div class="notification">
        {% if notification.type == 'ban' %}
          <h3 style="vertical_align: center"><a href="{{ url_for('users.account', username=notification.username) }}">{{ notification.username }}</a> {{ notification.content }}</h3>
        {% else %}
          <h3 style="vertical_align: center"><a href="{{ url_for('users.account', username=notification.username) }}">{{ notification.username }}</a> {{ notification.content }} <a href="{{ url_for('posts.post', post_id=notification.post_id) }}">post</a></h3>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock content %}
