{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<img src="{{ url_for('static', filename='post_images/' + post.picture) }}"><br>
		<a style="color: darkblue" href="{{ url_for('static', filename='post_images/' + post.picture) }}"><p>View original</p></a>
		{% if current_user.is_authenticated %}
			{% if current_user.id == post.user_id or current_user.role > 0 %}
				<a href="{{ url_for('posts.post_edit', post_id=post.id) }}" style="color:grey">Edit</a>
				<a href="{{ url_for('posts.post_delete', post_id=post.id) }}" style="color:red">Delete</a>
			{% endif %}
			{% if post in current_user.favorites %}
				<form method="POST" action="" style="">
					<a href="{{ url_for('posts.remove_favorite', post_id=post.id)}}">Remove from Favorites</a>
				</form>
			{% else %}
				<form method="POST" action="" style="">
					<a href="{{ url_for('posts.add_favorite', post_id=post.id)}}">Add to Favorites</a>
				</form>
			{% endif %}
		{% endif %}
		<br>
		<p>Tags: </p>
		{% for tag in post.tag_list %}
			<a href="{{ url_for('main.search', tag=tag.tag) }}">{{ tag.tag }}</a>
		{% endfor %}
		<br>
		<p>Posted by <a style="color: darkblue;" href="{{ url_for('users.account', username=post.author.username) }}">{{ post.author.username }}</a></p>
		<p>{{ post.date_posted.strftime('%d-%m-%Y %H:%M:%S GMT') }}</p><br>
		{% for comment in post.comment_list %}
			<div class="comment">
				<p>By <a style="color: darkblue;" href="{{ url_for('users.account', username=comment.author) }}">{{ comment.author }}</a> at {{ comment.date_posted.strftime('%d-%m-%Y %H:%M:%S GMT') }}</p>
				<br>
				<p>{{ comment.content }}</p>
			</div>
		{% endfor %}
		{% if current_user.is_authenticated %}
			<form method="POST" action="" style="">
				{{ commentform.csrf_token }}
				{{ commentform.content(cols="120", rows="4") }}
				{{ commentform.submit }}
			</form>
		{% else %}
			<p>You need to log in to write comments</p>
		{% endif %}
	</div>

{% endblock %}
