{% extends "layout.html" %}
{% block content %}
<div class="container">
  <form method="POST" action="">
    {{ registerform.csrf_token }}
    {{ registerform.username.label(class="form-control") }}
    {{ registerform.username(class="form-control") }}
    {% if registerform.username.errors %}
      {% for error in registerform.username.errors %}
          <p>{{ error }}</p>
      {% endfor %}
    {% endif %}
    <br>
    {{ registerform.email.label(class="form-control") }}
    {{ registerform.email(class="form-control") }}
    {% if registerform.email.errors %}
      {% for error in registerform.email.errors %}
          <p>{{ error }}</p>
      {% endfor %}
    {% endif %}
    <br>
    {{ registerform.password.label(class="form-control") }}
    {{ registerform.password(class="form-control") }}
    {% if registerform.password.errors %}
      {% for error in registerform.password.errors %}
          <p>{{ error }}</p>
      {% endfor %}
    {% endif %}
    <br>
    {{ registerform.submit(class="form-control") }}
  </form>
</div>
{% endblock content %}
