{% extends "layout.html" %}
{% block content%}
<form method="POST" action="" enctype="multipart/form-data">
	{{ uploadform.csrf_token }}
    <div class="upload-block">
        <br>
        {{ uploadform.picture.label }}
    	{{ uploadform.picture }}
        <small>{{ info }}</small>
        {% if uploadform.picture.errors %}
            {% for error in uploadform.picture.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
    	<br>
        {{ uploadform.tags.label }}
        {{ uploadform.tags }}
        <small>Separate tags by comma and use _ instead of space</small>
        <br>
        {{ uploadform.submit }}
    </div>
</form>
{% endblock content%}
