{% extends "layout.html" %}
{% block content%}
<form method="POST" action="" enctype="multipart/form-data">
	{{ form.csrf_token }}
    <div class="upload-block">
        <br>
        {{ form.picture.label }}
    	{{ form.picture }}
        <small>{{ info }}</small>
        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
    	<br>
        {{ form.tags.label }}
        {{ form.tags }}
        <small>Separate tags my comma and use _ instead of space</small>
        <br>
        {{ form.submit }}
    </div>
</form>
{% endblock content%}
